# Папки виртуального окружения
.venv/
venv/
env/
ENV/
virtualenv/

# Папки IDE
.idea/
.vscode/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Логи
logs/
*.log

# Временные файлы
.git/
.github/
.gitignore
.DS_Store
Thumbs.db
.pytest_cache/
.coverage

# Кэш браузеров
browser_cookies.json 